@media (max-width:600px) {
    .navbar nav{
        position:absolute;
        right:30px;
        
    }
    .navi{
        height:100px;
    }
    
    ul{
        padding:3px;
        position:absolute;
        transition: 0.2s;
        right:30px;
        display: flex;
        flex-direction: column;
        background:transparent;
        border:1.5px solid aqua;
        box-shadow:0px 0px 8px 10px rgb(25, 33, 39) ;
        border-radius: 15px;
        background:rgba(95, 117, 163, 0.418);
        background-blend-mode:overlay ;
        
        
    }
    a{
        text-decoration: none;
        margin:1px;
        color:antiquewhite;
        font-family:"space mono" ,sans-serif;
        padding:4px 5px;
        
    }
    .nav-button{
        height:30px;
        width:30px;
        position:absolute;
        right:20px;
        top:50px;
        border:3px solid antiquewhite;
        border-radius:5px;
        color:aliceblue;
        background:transparent;
        box-shadow:0px 0px 5px 3px rgb(75, 174, 240) ;
       
    }
    
    .hide{
        display:none;
    }

}
h3{
    font-size: 30px;

}
